# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/

# Virtual environments
venv/
env/
ENV/
.venv/

# Operating system & Editor files
.DS_Store
Thumbs.db
Desktop.ini
.vscode/
.idea/
